.search-form {
    background: #797979 !important;
    border-radius: 0 25px 25px 0 !important;
    border-left: 1px solid #797979 !important;
    border-color: #797979 !important;
    color: #94a1b2 !important;
}

.search-form:focus {
    background: #242629 !important;
    border-left: 1px solid #242629 !important;
    border-radius: 0 25px 25px 0 !important;
    color: #fffffe !important;
}

.focus {
    background: #242629 !important;
    border-radius: 25px 0 0 25px !important;
    border-color: #797979 !important;
    border-right: 1px solid #242629 !important;
    color: #fffffe !important;
}

.search-form-addon {
    background: #797979 !important;
    border-color: #797979 !important;
    border-right: 1px solid #797979 !important;
    border-radius: 25px 0 0 25px !important;
    color: #94a1b2 !important;
}

.home-card,
.search-card,
.post-card {
    background: #242629;
    border-radius: 15px;
    /* border: 1px solid #121629 !important; */
}

.post-card-content {
    border-radius: 10px !important;
    height: 10px;
    background: #797979;
    border: 0;
}

.post-card-content:focus {
    background: #16161a;
    color: #fffffe;
}

.post-menu {
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: default;
}

.post-menu:hover {
    background: #7f5af0;
    color: #fffffe;
}

.post-name {
    color: #fffffe;
}

.post-icons {
    margin-right: 10px;
    font-size: 16pt;
}

.post-icons:hover {
    color: #eebbc3;
    transform: scale(1.3);
}